---
layout: default
title: Home
---

<div class="container">
  <section class="first-section section-style" id="about">
    <h1>About</h1>
    <p class="no-top-margin">Hello! My name is Katja and I am a recently graduated ICT Engineer with a major in Software Engineering. 
      This page highlights selected projects from my studies and the skills I have developed through them. </p>
    <p>I have also completed a vocational qualification in visual expression.
      The Art Gallery section features some of my favorite works from over the years.</p>
    <p class="no-bottom-margin">
      If you want to see code, click <a class="dark-link" href="https://github.com/KPkoodit?tab=repositories">here</a>.</p>
  </section>

  <section id="projects" class="section-style">
    <h1>Projects</h1>
    <div class="projects-grid">
      {% assign sorted_projects = site.projects | sort: "weight" %}
      {% for project in sorted_projects %}
        <div class="project">
          <a href="{{ project.url }}" class="project-link">
            <div class="project-content">
              <div class=" description-container">
                <div class="project-info">
                  <h3>{{ project.title }}</h3>
                  <ul class="custom-bullet-list">
                    {% for tech in project.technologies %}
                      <li>{{ tech }}</li>
                    {% endfor %}
                  </ul>
                  <p class="description-p">{{ project.description }}</p>
                  <p class="read-more">Read more →</p>
                </div>
                {% if project.image %}
                  <img src="{{ project.image }}" alt="{{ project.title }} image" class="project-image">
                {% endif %}
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </section>

  <section id="skills" class="section-style">
    <h1>Skills</h1>
    <div class="skills-grid">
      {% assign sorted_skills = site.skills | sort: "weight" %}
      {% for skill in sorted_skills %}
        <div class="skill">
          <a href="{{ skill.url }}" class="skill-link">
            <div class="skill-content">
              <h3>{{skill.title}}</h3>
              <p class="read-more">Read more →</p>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </section>

  <section id="footer" class="no-bottom-line-section">
    <p class="small-text">Copyright &copy; {{ site.time | date: "%Y" }} KPkoodit. All rights reserved.</p>

  </section>
</div>
