---
---

/* Body styling */
/* Removed element color #D7CEDE */
body {
    position: relative;
    flex-direction: column;
    display: flex;
    align-content: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
}

/* Mixins */
@mixin shadow($light: rgba(255, 255, 255, 0.8), $dark: rgba(0, 0, 0, 0.2)) {
    box-shadow: 
        5px 5px 15px $dark,
        -5px -5px 15px $light;
}

/* Main page content styling */
.container {
    width: 100%;
    flex: 1 1 auto;
    max-width: 600px;
    margin: 0 auto;
    padding: 50px 0 20px 0;
    box-sizing: border-box;
}

.container h1 {
    margin-bottom: 20px;
    padding: 20px 0;
    box-sizing: border-box;
}

.project-content h3 {
    margin-top: 0;
}

.project-content .read-more {
    margin-bottom: 0;
}

section {
    padding: 20px 0px 40px 0px;
    border-bottom: 2px solid #DBA9B9;
    box-sizing: border-box;
}

.first-section p {
    padding: 0 60px 0 160px;
    box-sizing: border-box;
}

.description-p {
    width: 100%;
}

.no-bottom-line-section {
    border-bottom: none;
    padding-bottom: 0;
    text-align: center;
    padding-top: 20px;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60%, 1fr));
    gap: 40px;
    border-radius: 10px;
    box-sizing: border-box;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    gap: 40px;
    border-radius: 10px;
    box-sizing: border-box;
}

.project, .skill {
    padding: 20px;
    border-radius: 10px;
    background: #D7CEDE;
    display: flex;
    align-content: center;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;

    @include shadow();
}

.project {
    min-height: 270px;
}

.description-container {
    display: flex;
}

.project-link, .skill-link {
  text-decoration: none;
  color: inherit;
  display: block;
  display: flex;
  align-content: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.project-content {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 12px 12px rgba(255, 255, 255, 0.8);
}

.skill-content {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    padding: 20px 0;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 12px 12px rgba(255, 255, 255, 0.8);
}

.skill-content h3, .skill-content p {
    margin: 0;
    box-sizing: border-box;
    padding: 0 20px;
    width: 100%;
}

.skill-content h3 {
    margin-bottom: 10px;
}

table.skill-table td:first-child {
  min-width: 100px;
  vertical-align: top;
}

table.skill-table td:last-child {
  padding-left: 40px;
}

.project:hover .read-more, .skill:hover .read-more {
    text-decoration: underline;
}

.small-text {
    font-size: 11px;
    color: #707F99;
}

/* List stylings */
.gradient-list {
    padding-left: 20px;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

.gradient-list li {
    position: relative;
    padding-left: 20px;
    margin: 5px 0;
}

.gradient-list li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.05em;
    width: 10px;
    height: 1em;
    background: linear-gradient(to left, #DBA9B9 0%, rgba(215, 206, 222, 0.4) 20%,  transparent 100%);
}

.custom-bullet-list {
    padding-left: 20px;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

.custom-bullet-list li {
    position: relative;
    padding-left: 20px;
    margin: 5px 0;
}

.custom-bullet-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.4em;
  width: 6px;
  height: 6px;
  background-color: #DBA9B9;
  border-radius: 50%;
}

/* Navigation bar styling */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #707F99;
    height: 50px;
    padding: 0;
    line-height: 50px;
    z-index: 100;
    box-sizing: border-box;
}

nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav ul li {
    white-space: nowrap;
    margin: 0 15px;
    box-sizing: border-box;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    transition: color 0.3s ease-in-out;
    box-sizing: border-box;
}

nav ul li a:hover {
    color: #D7CEDE;
}

/* Project Page and Skill Page Styles */
.project-page, .skill-page {
    flex: 0 1 600px;
    max-width: 600px;
    margin: 90px auto 40px auto;
    padding: 40px;
    box-sizing: border-box;

    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    color: #333;
}

.project-page {
    background: #D7CEDE;
}

.project-page-content {
    padding: 20px 40px 0 40px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 12px 30px rgba(255, 255, 255, 0.8);
}

.white-background {
    background: #ffffff;
    box-shadow: 0 0 12px 30px rgba(255, 255, 255, 0.8);
}

.project-page h1, .skill-page h1 {
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    margin-top: 0;
    margin-bottom: 40px;
    box-sizing: border-box;
}

.project-page h2 {
    margin-top: 40px;
    box-sizing: border-box;
}

.project-page h3 {
    margin-top: 20px;
    box-sizing: border-box;
}

.project-page-project-content {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    margin: 10px auto;
    box-sizing: border-box;
}

.project-page p {
    box-sizing: border-box;
}

.project-page a {
    color: black;
    box-sizing: border-box;
}

.project-page a:hover {
    color: #707F99;
}

.project-page .back-link, .skill-page .back-link {
    display: block;
    margin-top: 40px;
    text-decoration: none;
    text-align: center;
    color: #333;
    font-weight: bold;
    box-sizing: border-box;
}

.project-page .back-link:hover {
    text-decoration: underline;
}

.dark-link {
    color: #333;
}

.skill-page li {
    list-style: none;
    box-sizing: border-box;
}

.margin-on-bottom {
    margin-bottom: 40px;
}

/* Images */
.project-image {
    max-width: 35%;
    height: auto;
    padding-left: 40px;
}

.portrait-img {
    max-width: 40%;
    padding: 20px;
}

.landscape-img {
    max-width: 60%;
}

.flex-center {
  display: flex;
  justify-content: center;
}

/* Media Queries */
@media (max-width: 1200px) {
    .container {
        max-width: 600px;
        padding: 50px 40px 20px 40px;
    }

    .project-page, .skill-page {
        flex: 0 1 520px;
        max-width: 520px;
        margin: 90px 40px 40px 40px;
        padding: 40px;
    }

    .project-image {
        max-width: 40%;
    }

    .skills-grid {
        grid-template-rows: auto;
        grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
        margin: 0 auto;
        gap: 40px;
    }

    .first-section p {
        padding: 0 40px 0 140px;
    }

    .project-page .back-link, .skill-page .back-link {
        margin-top: 40px;
    }
}

@media (max-width: 640px) {
    main {
        flex-direction: column;
    }

    .container {
        padding: 50px 40px 20px 40px;
    }

    .container h1 {
        margin-bottom: 0;
    }

    section {
        padding: 10px 0 40px 0;
    }

    .first-section p {
        padding: 0 20px 0 60px;
    }

    .description-p {
        width: 100%;
    }

    .skill-content h3, .skill-content p {
        box-sizing: border-box;
        padding: 0 20px;
        width: 100%;
    }

    .projects-grid {
        grid-template-rows: auto;
        grid-template-columns: repeat(auto-fit, minmax(60%, 1fr));
        margin: 0 auto;
        gap: 20px;
    }

    .skills-grid {
        grid-template-rows: auto;
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
        margin: 0 auto;
        gap: 20px;
    }

    .project, .skill {
        padding: 20px;
    }

    .project-page, .skill-page {
        margin: 90px 40px 40px 40px;
        padding: 40px;
    }

    .project-page-content {
        padding: 0;
    }

    .project-page h1, .skill-page h1 {
        margin-top: 0;
        padding-bottom: 20px;
        margin-bottom: 20px
    }

    .skill-table {
        margin-bottom: 30px;
    }

    .gradient-list {
        padding-left: 10px;
    }

    .margin-on-bottom {
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    .description-container {
        flex-direction: column;
        max-width: 100%;
    }

    .project-image {
        max-width: 60%;
        height: auto;
        margin: 20px auto 0 auto;
        padding: 0;
    }
}

@media (max-width: 370px) {
    table.skill-table td:last-child {
        padding-left: 20px;
    }
}