<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
</head>
<body>

  <nav>
    <ul>
      <li><a href="/#about">About</a></li>
      <li><a href="/#projects">Projects</a></li>
      <li><a href="/#skills">Skills</a></li>
      <li><a href="/#interests">Interests</a></li>
    </ul>
  </nav>

  <main>
    {{ content }}
  </main>

</body>
</html>